<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
</head>
<body>
<nav style="text-align: center; padding: 0.75em 0;">
  <a href="{{ '/' | relative_url }}">BroadBanner Pages</a>
  &nbsp;|&nbsp;
  <a href="{{ '/banner-and-backbone-media/' | relative_url }}">Banner &amp; Backbone Media</a>
  &nbsp;|&nbsp;
  <a href="{{ '/firebrand-project/' | relative_url }}">Firebrand Project</a>
  &nbsp;|&nbsp;
  <a href="{{ '/sick-of-this-shit-publications/' | relative_url }}">Sick of this Shit Publications</a>
  &nbsp;|&nbsp;
  <a href="{{ '/this-woman-votes/' | relative_url }}">This Woman Votes</a>
</nav>
{{ content }}
</body>
</html>
